
        .btn-primary {
            @include mixin-btn;
            background-color: $primary-color;

            &:hover {
                background-color: $secondary-font-color;
            }

            @include sm{
                @include fontStyle(16px,600);
            }
        }

        
        .btn-secondary {
            @include mixin-btn;
            background-color: $secondary-color;

            &:hover {
                
                background-color: $secondary-font-color;
            }

            @include sm{
                @include fontStyle(12px,600);
            }
        }

