.feature{
    background-color: $success;
    
    &-card{
        @include mixin-flex(center,center);
        height: 525px;
        &-title{
            width: 50%;

            & .btn-primary{
                margin-top: 50px;
            }
        }
        &-content{
            width: 50%;
            background-color: black;
        }
    }
}